html {
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

body {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    background-color: black;
}

#bottom {
    background-image: url("cthulhu.jpg");
}

#eyes {
    background-image: url("cthulhu_eyes.jpg");
}

.transparent {
    opacity: 0;
}

.bg-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center;
    background-repeat: no-repeat;
    
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.vertical-anchor {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-20px);
    text-align: center;
}

#entry-div {
    display: inline-block;
    color: "#46abb5";
    cursor: pointer;

    border: 2px solid;
    border-radius: 10px;
    padding: 5px;
    
    -webkit-transition: color 1s ease-in-out;
    -moz-transition: color 1s ease-in-out;
    -o-transition: color 1s ease-in-out;
    transition: color 1s ease-in-out;
}

/* colors
	blue: 	1d2824 46abb5 62daf7 304e4e
	orange:	febb2e f59d31 ec9341 cc7e29		
*/
