html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    height: 100%;
    width: 100%;
}

#canvas {
    height: 100%;
    /*background: linear-gradient(blue, black);*/
    background-size: 100%;
    background: no-repeat center;
    background-image: url("cthulhu.jpg");
}

#vertical-anchor {
    position: absolute;
    top: 50%;
    transform: translateY(-20px);
    width: 100%;
    text-align: center;
}

#entry-div {
    cursor: pointer;
    color: aqua;
    transition: color 2s ease-out; /* delays for 1 second */
}

#entry-div:hover {
    color: orange;
}

#entry-div {
    display: inline-block;
    border: 3px solid;
    border-radius: 15px;
    padding: 5px;
}

#entry-txt {

}